body {
    margin: 0px;
    padding: 0px;
    font-family: "Verdana";
    font-size: 12px;
    background-color: #006666;
}

h1 {
    font-size: 40px;
}

h1, h3 {
    margin: 0px auto;
    text-align: center;
    padding: 20px;

}

.container {
    margin: 20px;
    padding: 20px;
    width: 94%;
    height: 100%;
    background-color: #009999;
    border-radius: 20px;
    color: #FFFFFF;
    transition: all 0.5s ease-in-out;
}

.success, .error
{
    width: 350px;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    background-color: green;
}

.error {
    background-color: red;
}

form {
    margin: 0px auto;
    text-align: center;
}

input {
    padding: 15px;
    margin: 5px auto;
    width: 30%;
    display: block;
    font-family: "Verdana";
    font-size: 20px;
    border: 1px solid #CCC;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}

button {
    margin: 5px auto;
    padding: 20px;
    font-size: 20px;
    border-radius: 10px;
    color: #FFFFFF;
    background-color: steelblue;
    border: 2px solid #FFFFFF;
    font-family: "Verdana";
    cursor: pointer;
}